
# /
*~
/*.tgz
/.deps
*.lo
*.la
/config.[^wm]*
/configure*
/lib*
/ac*.m4
/ltmain.sh
/install-sh
/Make*
/mk*
/missing
/.libs
/build
/include
/modules
/autom4te*
/.dep.inc
run-tests.php
.libs/
/php_propro_api.h
